<<<<<<< HEAD
.surveyImg
{
margin-left: 15%;
}

.page-header
{
margin-left: 15%;
}
.form-inline
{
margin-top: 2%;
margin-left: 30%;
}

.tag
{
text-decoration: none !important;
cursor: pointer;
padding-top: 50px !important;
}
.red
{
color:red;
}
=======
.surveyImg
{
margin-left: 15%;
}

.page-header
{
margin-left: 15%;
}
.form-inline
{
margin-top: 2%;
margin-left: 30%;
}

.tag
{
text-decoration: none !important;
cursor: pointer;
padding-top: 50px !important;
}
.red
{
color:red;
}
>>>>>>> b785fa47186e5fbc55784ca4b66c68a701013d8a
